* {
    box-sizing: border-box;
}

body {
    margin: 16px;
    padding: 16px;
    font-family: Arial, sans-serif;
    background-image:url('Assets/company.png');
    background-size: cover;
    background-position: center;
    background-color: #e9e3d4;
}

header {
    color: white;
    padding: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 16px;
    left: 16px;
    right: 16px;
    z-index: 1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(16px);
    background-blend-mode: overlay;
    border-radius: 20px;
}

h1 {
    text-align: center;
    padding: 20px;
    align-self: center;
    color: white;
}

.logo {
    margin: 16px;
}

.logo img {
    height: 72px; /* Adjust logo size */
    border-radius: 12px;
    border: black 1px solid;
}

nav {
    display: flex;
    justify-content: space-between;
    color: white;
    font-weight: bold;
    font-size: 14px;
    margin: 8px;
    padding: 8px;
    
}

nav ul {
    list-style: none;
    margin: 8px;
    padding: 8px;
}

nav li {
    display: inline-block;
    
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 12px;
    padding: 12px;
    border-radius: 12px;
}

nav > ul > li :hover {
    background-color: #4e351e;
}

#about {
    color: #f7f6e3;
    border-radius: 20px;
    margin: 16px;
    padding: 16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(16px);
    background-blend-mode: overlay;
    background-image:url('Assets/company.png');
    background-size: cover;
    background-position: center;
}

#about h2 {
    margin-top: 0;
}

#about p {
    margin-bottom: 20px;
}

#services { 
    color: #f7f6e3;
    border-radius: 20px;
    margin: 16px;
    padding: 16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(16px);
    background-blend-mode: overlay;
    background-image:url('Assets/company.png');
    background-size: cover;
    background-position: center;
}

#services h2 {
    margin-top: 0;
}

#services p {
    margin-bottom: 20px;
}  

#contact {
    color: #f7f6e3;
    border-radius: 20px;
    margin: 16px;
    padding: 16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(16px);
    background-blend-mode: overlay;
    background-image:url('Assets/company.png');
    background-size: cover;
    background-position: center;
}

#contact h2 {    
    margin-top: 0;
}    

#contact p {
    margin-bottom: 20px;
}       

section {
    margin: 16px;
    padding: 16px;
}

footer {
    text-align: center;
    margin: 16px;
    padding: 16px;
    color: #f5ead1;
}